@font-face {
  font-family: "fontb5c9e279edbebf333edcabba7f36f065";

  src: url("https://nomail.com.ua/files/eot/b5c9e279edbebf333edcabba7f36f065.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/b5c9e279edbebf333edcabba7f36f065.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/b5c9e279edbebf333edcabba7f36f065.woff2")
      format("woff2");
}

@font-face {
  font-family: "BebasNeueLight";
  src: local("BebasNeueLight"),
    url("https://nomail.com.ua/files/woff/b5c9e279edbebf333edcabba7f36f065.woff")
      format("woff");
}

@font-face {
  font-family: "font9042a37caa7fb0389371de54dd886b38";

  src: url("https://nomail.com.ua/files/eot/9042a37caa7fb0389371de54dd886b38.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/9042a37caa7fb0389371de54dd886b38.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/9042a37caa7fb0389371de54dd886b38.woff2")
      format("woff2");
}

@font-face {
  font-family: "BebasNeueRegular";
  src: local("BebasNeueRegular"),
    url("https://nomail.com.ua/files/woff/9042a37caa7fb0389371de54dd886b38.woff")
      format("woff");
}

@font-face {
  font-family: "font1e99b0442583593743adb5d91d7c0669";

  src: url("https://nomail.com.ua/files/eot/1e99b0442583593743adb5d91d7c0669.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/1e99b0442583593743adb5d91d7c0669.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/1e99b0442583593743adb5d91d7c0669.woff2")
      format("woff2");
}

@font-face {
  font-family: "BebasNeueBold";
  src: local("BebasNeueBold"),
    url("https://nomail.com.ua/files/woff/1e99b0442583593743adb5d91d7c0669.woff")
      format("woff");
}
