.header {


  &__top {
    font-size: 1.1rem;
    font-family: "Myriad Pro";
    color: rgb(137, 143, 143);
    line-height: 1.333;
    text-align: center;
  }

  &__title {
    font-size: 4rem;
    font-family: "Roboto";
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    color: $colorText;
    margin-bottom: 2vh;
  }

  &__slash {
    height: 20px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
  }
}
