#linked_in:hover > .cls-2 {
  stroke: $colorText;
}

#linked_in:hover > .cls-1 {
  stroke: $colorText;
  fill: $colorText;
}

#google_plus:hover > .cls-2 {
  stroke: $colorText;
}

#google_plus:hover > .cls-1 {
  stroke: $colorText;
  fill: $colorText;
}

#facebook:hover > .cls-2 {
  stroke: $colorText;
}

#facebook:hover > .cls-1 {
  stroke: $colorText;
  fill: $colorText;
}
