* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

.body {
  margin: 0 auto;
}

.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}

.section-fieldset {
  width: 898px;
  border: 2px solid rgb(60, 60, 60);
  text-align: center;
  color: rgb(60, 60, 60);
}

.section-one {
  height: 1072px;
  background-image: url(img/first-bg.png);
  background-size: cover;
}

.section-one__title {
  font-size: 54px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 9.5px;
  margin: 100px 0 50px 0;
}

.section-one__text {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.933;
  width: 695px;
  padding-bottom: 100px;
}

.scroll {
  position: absolute;
  bottom: 120px;
}

.scroll:hover {
  fill: black;
  stroke: black;
  cursor: pointer;
}

.section-two {
  height: 630px;
}

.section-two__fieldset {
  height: 308px;
}

.fieldset__legend {
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0 75px;
  letter-spacing: 9.5px;
}

.label-par {
  width: 560px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
}

.par-one {
  padding-top: 20px;
}

.par-two {
  width: 450px;
}

.section-three {
  background-image: url(img/second-bg.png);
  height: 488px;
}

.section-three__fieldset {
  height: 250px;
  border: 2px solid #fff;
  color: #fff;
}

.section-four {
  height: 1410px;
}

.section-four__fieldset {
  height: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fieldset__content {
  width: 560px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fd-one {
  margin-top: 20px;
}

.fieldset__title {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.fieldset__text {
  font-size: 14px;
  line-height: 1.849;
  font-weight: 100;
}

.section-five {
  height: 485px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.block-smaller {
  width: 490px;
  height: 237px;
}

.block-bigger {
  width: 690px;
  height: 237px;
}

.section-five__block {
  background-size: cover;
  font-size: 46px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 9.5px;
  padding: 150px 0 0px 45px;
}

.section-five__block:hover {
  cursor: pointer;
}

.section-five__block:nth-child(1) {
  background-image: url(img/1.png);
}
.section-five__block:nth-child(2) {
  background-image: url(img/2.png);
}
.section-five__block:nth-child(3) {
  background-image: url(img/3.png);
}
.section-five__block:nth-child(4) {
  background-image: url(img/4.png);
}
.section-five__block:nth-child(5) {
  background-image: url(img/5.png);
}
.section-five__block:nth-child(6) {
  background-image: url(img/6.png);
}

.section-six {
  height: 595px;
  justify-content: space-around;
  margin: 50px 0;
}

.section-six__fieldset {
  height: 290px;
}

.fieldset-six__label .label-par {
  margin-top: 10px;
}

.fieldset-six__button {
  border: 2px solid rgb(60, 60, 60);
  background-color: rgb(60, 60, 60);
  width: 391px;
  height: 54px;
  color: #fff;
  font-size: 16px;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 45px;
  cursor: pointer;
}

.fieldset-six__button:hover {
  opacity: 0.8;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 375px;
  align-items: center;
  /* margin-top: 90px; */
}

.footer_svg {
  stroke: rgb(60, 60, 60);
  transform: scale(0.8);
}

@media screen and (max-width: 1679px) and (min-width: 1201px) {
  .section-five {
    width: 750px;
    height: 685px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .block-smaller {
    width: 350px;
    height: 175px;
  }

  .block-bigger {
    width: 350px;
    height: 175px;
  }

  .section-five__block {
    background-size: cover;
    font-size: 38px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 9.5px;
    padding: 100px 0 0px 25px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .section-one__title {
    font-size: 44px;
    letter-spacing: 5.5px;
    margin: 100px 0 50px 0;
  }

  .section-one__text {
    font-size: 14px;
  }

  .section-fieldset {
    width: 698px;
  }

  .section-two__fieldset {
    height: 308px;
  }

  .fieldset__legend {
    font-size: 38px;
    line-height: 1.2;
    padding: 0 75px;
    letter-spacing: 7.5px;
  }

  .label-par {
    width: 500px;
    font-size: 15px;
  }

  .par-one {
    padding-top: 20px;
  }

  .par-two {
    width: 420px;
  }

  .fieldset__content {
    width: 500px;
    height: 250px;
  }
  .fd-one {
    margin-top: 20px;
  }

  .fieldset__title {
    font-size: 28px;
  }

  .fieldset__text {
    font-size: 13px;
  }

  .section-five {
    width: 750px;
    height: 685px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .block-smaller {
    width: 350px;
    height: 175px;
  }

  .block-bigger {
    width: 350px;
    height: 175px;
  }

  .section-five__block {
    background-size: cover;
    font-size: 38px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 9.5px;
    padding: 100px 0 0px 25px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-one__title {
    font-size: 36px;
    letter-spacing: 3.5px;
    margin: 80px 0 40px 0;
  }

  .section-one__text {
    font-size: 14px;
  }

  .section-fieldset {
    width: 600px;
  }

  .section-two__fieldset {
    height: 308px;
  }

  .fieldset__legend {
    font-size: 30px;
    line-height: 1.1;
    padding: 0 50px;
    letter-spacing: 5.5px;
  }

  .label-par {
    width: 500px;
    font-size: 15px;
  }

  .par-one {
    padding-top: 20px;
  }

  .par-two {
    width: 420px;
  }

  .fieldset__content {
    width: 500px;
    height: 250px;
  }
  .fd-one {
    margin-top: 15px;
  }

  .fieldset__title {
    font-size: 24px;
  }

  .fieldset__text {
    font-size: 12px;
  }

  .section-four__svg {
    transform: scale(0.8);
  }

  .section-five {
    width: 750px;
    height: 685px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .block-smaller {
    width: 350px;
    height: 175px;
  }

  .block-bigger {
    width: 350px;
    height: 175px;
  }

  .section-five__block {
    font-size: 30px;
    letter-spacing: 7.5px;
    padding: 100px 0 0px 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 360px) {
  .section-one__title {
    font-size: 30px;
    letter-spacing: 2.5px;
    margin: 80px 0 40px 0;
  }

  .section-one__text {
    height: 80px;
    width: 450px;
    font-size: 13px;
  }

  .section-fieldset {
    width: 450px;
  }

  .section-two__fieldset {
    height: 300px;
  }

  .fieldset__legend {
    font-size: 30px;
    line-height: 1.1;
    padding: 0 50px;
    letter-spacing: 5.5px;
  }

  .label-par {
    width: 450px;
    font-size: 15px;
  }

  .par-one {
    padding-top: 20px;
  }

  .par-two {
    width: 420px;
  }

  .fieldset__content {
    width: 450px;
    height: 250px;
  }
  .fd-one {
    margin-top: 15px;
  }

  .fieldset__title {
    font-size: 24px;
  }

  .fieldset__text {
    font-size: 12px;
  }

  .section-five {
    width: 450px;
    height: 950px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }

  .block-smaller {
    width: 450px;
    height: 150px;
  }

  .block-bigger {
    width: 450px;
    height: 150px;
  }

  .section-five__block {
    font-size: 30px;
    letter-spacing: 7.5px;
    padding: 100px 0 0px 20px;
  }
}
