.container {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.left-side__foto {
  width: 21vw;
  max-width: 100%;
  height: 41vh;
  background-image: url(../img/foto.png);
  border-bottom: 1px solid #ffcc00;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.right-side {
  width: 50%;
  text-align: center;
  height: 41vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-side__name {
  font-size: 2.2rem;
  font-family: "Roboto";
  color: #666666;
}

.right-side__position {
  font-size: 1.5rem;
  font-family: "Raleway";
  color: #666666;
  line-height: 1.5;
  font-weight: 300;
}

.right-side__text {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: #333333;
  line-height: 1.714;
  width: 60%;
}

.right-side__btn {
  font-size: 14px;
  font-family: "OpenSans";
  color: #666666;
  font-weight: bold;
  line-height: 1.714;
  text-transform: uppercase;
  padding: 2px 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ffcc00;
  outline: none;
  width: 140px;
}

.right-side__icons {
  cursor: pointer;
}

.left-side__arrow {
  position: absolute;
  left: 3%;
  top: 48%;
}

.right-side__arrow {
  position: absolute;
  right: 3%;
  top: 48%;
  font-size: 2.2rem;
}

.header__top {
  font-size: 1.1rem;
  font-family: "Myriad Pro";
  color: #898f8f;
  line-height: 1.333;
  text-align: center;
}

.header__title {
  font-size: 4rem;
  font-family: "Roboto";
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: #ffcc00;
  margin-bottom: 2vh;
}

.header__slash {
  height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination {
  text-align: center;
}

#linked_in:hover > .cls-2 {
  stroke: #ffcc00;
}

#linked_in:hover > .cls-1 {
  stroke: #ffcc00;
  fill: #ffcc00;
}

#google_plus:hover > .cls-2 {
  stroke: #ffcc00;
}

#google_plus:hover > .cls-1 {
  stroke: #ffcc00;
  fill: #ffcc00;
}

#facebook:hover > .cls-2 {
  stroke: #ffcc00;
}

#facebook:hover > .cls-1 {
  stroke: #ffcc00;
  fill: #ffcc00;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  width: 80vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  * {
    font-size: 13px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .left-side {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 35vh;
    margin-top: 5%;
  }
  .right-side {
    width: 100vw;
    text-align: center;
    height: 35vh;
    margin-bottom: 5%;
  }
  .left-side__foto {
    max-width: 35vw;
    width: 35vw;
    max-height: 30vh;
    height: 30vh;
  }
}

@media screen and (max-width: 768px) and (min-width: 360px) {
  * {
    font-size: 11px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .left-side {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 30vh;
    margin-top: 5%;
  }
  .right-side {
    width: 100vw;
    text-align: center;
    height: 35vh;
    margin-bottom: 5%;
  }
  .left-side__foto {
    max-width: 50vw;
    width: 50vw;
    max-height: 27vh;
  }
}
